<!DOCTYPE html>
<html ng-app="SyntheaApp" >
<head>
	<title>Synthea</title>
	<meta charset="UTF-8">
	<base href="./" />
	<!-- <script src="./lib/angular-1.3.4/angular.min.js"></script> -->
	<!-- <script src="./synthea.js"></script> -->
	<script>
		window.angular = require('angular');
		const angularMaterial = require('angular-material');
		const synthea = require('./scripts/synthea.js');
	</script>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="assets/synthea.css">
	<link rel="icon"
	      type="image/png"
	      href="assets/synthea_icon_cropped.png" />
	<link rel="icon" type="image/x-icon" href="assets/synthea_flat.ico" />
</head>
<body ng-controller="SyntheaController">
<!--{{master | json}}-->


<div id="page-header">
	<img id="logo" src="assets/synthea_icon_cropped.png" />

	<div id="title">
		<span id="title-text">Synthea Previewer</span>
	</div>

</div>

<div id="page-tabs">
	<div class="page-tab" ng-repeat="page in master.pages" >
		<button class="tab" ng-bind="page" ng-click="selectPage(page)"
			ng-class="{'current': page == currentPage}"></button>
	</div>
</div>

<div id="page-container">
		<div class="column" ng-repeat="column in currentColumns">
			<div class="column-header" ng-bind="column"></div>
			<div class="column-container">
				<div class="button-container" ng-repeat="button in currentButtons | filter: {column: column}">
					<button class="button" aria-label="{{::button.name}}"
					ng-bind="::button.name" ng-click="setAudio(button)" ng-class="{'current': button ==currentTrack}" title="{{::button.tooltip}}"></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="player">
	<div id="current_track">{{currentTrack.name}}</div>
	<div id="current_track_source" ng-show="currentTrack">{{currentTrack.column}}, {{currentPage}}</div>
	<audio id="audioplayer" src="" controls></audio>
</div>

</body>