<!DOCTYPE html>
<html ng-app="SyntheaApp" >
<head>
	<!-- <title>Synthea</title> -->
	<meta charset="UTF-8">
	<base href="./" />
	<!-- <script src="./lib/angular-1.3.4/angular.min.js"></script> -->
	<!-- <script src="./synthea.js"></script> -->
	<script>
		window.angular = require('angular');
		const angularMaterial = require('angular-material');
		const synthea = require('./scripts/SyntheaApp.js');
	</script>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="assets/synthea.css">
	<link rel="icon"
	      type="image/png"
	      href="assets/synthea_icon_cropped.png" />
	<link rel="icon" type="image/x-icon" href="assets/synthea_flat.ico" />
</head>
<body ng-controller="SyntheaController as sVm"
layout="column" layout-fill>
<!--{{master | json}}-->


	<md-toolbar id="page-header" class="md-hue-2" layout="row"
	flex="none">
		<div flex="none" id="logo">
			<!-- <img id="logo" src="assets/synthea_icon_cropped.png" /> -->
		</div>

		<div id="title" flex>
			<span id="title-text"
			ng-bind="sVm.project.config.name"></span>
		</div>

		<div flex="none">
			<md-button ng-click="sVm.stopAll()">Stop All</md-button>
		</div>

	</md-toolbar>

	<div id="page-tabs" flex="none" layout="row">
		<span flex></span>
		<div class="page-tab-container" flex="none"
		ng-repeat="page in sVm.project.master.pages">
			<div class="page-tab"
			ng-bind="page"
			ng-click="sVm.selectPage(page)"
			ng-class="{'current': page == sVm.currentPage}"></div>
		</div>
		<span flex></span>
	</div>

	<md-content flex layout="column" id="page-container">
		<div  layout="row" flex>
			<div class="column md-card" flex
			md-padding="2"
			ng-repeat="column in sVm.currentColumns">
				<div class="column-header" ng-bind="column"></div>
				<div class="column-container" layout="column">
					<div class="cueButton-container"
					flex="none" layout="row"
					ng-repeat="cue in sVm.currentButtons | filter: {column: column}">
						<md-button class="cueButton" flex
						aria-label="{{::cue.name}}"
						ng-disabled="!cue.file"
						ng-bind="::cue.name"
						ng-click="sVm.selectCue(cue)"
						ng-class="{'current': cue.is_playing}"
						md-title="{{::cue.tooltip}}"></md-button>

					</div>
				</div>
			</div>
		</div>

	</md-content>
</body>