<!DOCTYPE html>
<html ng-app="SyntheaApp" >
<head>
	<!-- <title>Synthea</title> -->
	<meta charset="UTF-8">
	<base href="./" />
	<!-- <script src="./lib/angular-1.3.4/angular.min.js"></script> -->
	<!-- <script src="./synthea.js"></script> -->
	<script>
		window.angular = require('angular');
		const angularMaterial = require('angular-material');
		// const howler = require('howler');
		const synthea = require('./scripts/SyntheaApp.js');
	</script>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="assets/synthea.css">
	<link rel="icon"
	      type="image/png"
	      href="assets/synthea_icon_cropped.png" />
	<link rel="icon" type="image/x-icon" href="assets/synthea_flat.ico" />
</head>
<body ng-controller="SyntheaController as sVm"
layout="column" layout-fill>
<!--{{master | json}}-->


	<md-toolbar id="page-header" class="md-hue-2" layout="row"
	flex="none">
		<div flex="none" id="logo">
			<!-- <img id="logo" src="assets/synthea_icon_cropped.png" /> -->
		</div>

		<div id="title" flex>
			<span id="title-text"
			ng-bind="sVm.project.config.name"></span>
		</div>

		<div flex="none">
			<!-- <md-button ng-click="sVm.stopAll()">Stop All</md-button> -->
		</div>

	</md-toolbar>

	<div id="page-tabs" flex="none" layout="row">
		<span flex></span>
		<div class="page-tab-container" flex="none"
		ng-repeat="page in sVm.project.master.pages">
			<div class="page-tab"
			ng-bind="page"
			ng-click="sVm.selectPage(page)"
			ng-class="{'current': page == sVm.currentPage}"></div>
		</div>
		<span flex></span>
	</div>

	<md-content flex layout="column" id="page-container">
		<div  layout="row" flex>
			<div class="column md-card" flex
			md-padding="2"
			ng-repeat="column in sVm.currentColumns">
				<div class="column-header" ng-bind="column"></div>
				<div class="column-container" layout="column">
					<div class="cueButton-container"
					flex="none" layout="row"
					ng-repeat="cue in sVm.currentButtons | filter: {column: column}">
						<md-button class="cueButton"
						aria-label="{{::cue.name}}"
						ng-disabled="!cue.file"
						ng-bind="::cue.name"
						ng-click="sVm.selectCue(cue)"
						syn-right-click="sVm.contextCue(cue)"
						ng-class="{'current': cue.is_playing}"
						md-title="{{::cue.tooltip}}"></md-button>

					</div>
				</div>
			</div>
		</div>
	</md-content>

	<div id="queuedTracks">
		<div class="track-container"
		ng-class="{'expanded': expanded}"
		ng-repeat="channel in sVm.mixer.channels | filter:{'is_queued': true}">
			<div class="track">
				<div layout="row">
					<div class="track-title" flex ng-bind="channel.media.name"></div>
					<div ng-bind="channel.duration | secondsToTimecode"></div>
				</div>
				<div layout="row">
					<div flex>
						<md-button class="md-icon-button track-button" aria-label="play"
						ng-click="expanded = !expanded">
							<md-icon ng-if="!expanded"><svg syn-icon="chevron_down"></svg></md-icon>
							<md-icon ng-if="expanded"><svg syn-icon="chevron_up"></svg></md-icon>
						</md-button>
					</div>
					<div flex>
						<md-button class="md-icon-button track-button" aria-label="play"
						ng-click="channel.play()">
							<md-icon><svg syn-icon="play"></svg></md-icon>
						</md-button>
					</div>
					<div flex>
						<md-button class="md-icon-button track-button" aria-label="clear"
						ng-click="channel.stop()">
							<md-icon><svg syn-icon="clear"></svg></md-icon>
						</md-button>
					</div>
				</div>
				<div layout="row" ng-show="expanded">
					<div flex>
						<input ng-model="channel.currentTime"
						type="number" step="0.1" size="2"
						placeholder="0.0"
						ng-change="channel.setTime()" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="currentTracks">

		<div class="track-container" ng-repeat="channel in sVm.mixer.channels | filter: {'is_current':true}"
		ng-style="{'z-index':$index}">
			<div class="track">
				<div layout="row">
					<div class="track-title" flex
					ng-bind="channel.media.name"></div>
					<div class="track-eta" flex="none" ng-bind="channel.duration - channel.currentTime | secondsToTimecode"></div>
				</div>


				<md-slider class="track-timebar"
				ng-model="channel.currentTime"
				 ng-change="channel.setTime()" aria-label="Playback time"
				min="0" max="{{channel.duration}}"></md-slider>
				<div layout="row">
					<div flex class="track-timecode">
						<span ng-bind="channel.currentTime | secondsToTimecode : true"></span>
					</div>
					<div flex class="track-timecode">
						<span ng-bind="channel.duration | secondsToTimecode : true"></span>
					</div>
				</div>

				<div layout="row">
					<div flex>
						<md-button class="md-icon-button track-button" aria-label="repeat"
						ng-click="channel.repeat()"
						ng-class="{'active': channel.media.isLoop}">
							<md-icon><svg syn-icon="repeat"></svg></md-icon>
						</md-button>
					</div>
					<div flex>
						<md-button class="md-icon-button track-button" aria-label="pause"
						ng-click="channel.pause()"
						ng-class="{'active': channel.state==='PAUSING'}"
						ng-if="channel.is_playing">
							<md-icon><svg syn-icon="pause"></svg></md-icon>
						</md-button>
						<md-button class="md-icon-button track-button" aria-label="play"
						ng-click="channel.play()"
						ng-class="{'active': channel.state==='PAUSING'}"
						ng-if="!channel.is_playing">
							<md-icon>
								<svg syn-icon="play"></svg>
							</md-icon>
						</md-button>
					</div>
					<div flex>
						<md-button class="md-icon-button track-button" aria-label="stop"
						ng-class="{'active': channel.state==='STOPPING'}"
						ng-click="channel.stop()">
							<md-icon><svg syn-icon="stop"></svg></md-icon>
						</md-button>
					</div>
				</div>
			</div>
		</div>
	</div>


<svg width="0" height="0" style="position:absolute">

    <!-- ARROW BACK -->
    <symbol id="ic_arrow_back_24px" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></symbol>
    <symbol id="ic_arrow_back_48px" viewBox="0 0 48 48"><path d="M40 22H15.66l11.17-11.17L24 8 8 24l16 16 2.83-2.83L15.66 26H40v-4z"/></symbol>
    <!-- CHEVRON_DOWN -->
    <symbol id="ic_chevron_down_24px" viewBox="0 0 24 24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/></symbol>
 	<!-- CHEVRON_UP -->
    <symbol id="ic_chevron_up_24px" viewBox="0 0 24 24"><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14z"/></symbol>
    <!-- CLEAR -->
    <symbol id="ic_clear_24px" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></symbol>
    <!-- FIRST_PAGE -->
    <symbol id="ic_first_page_24px" viewBox="0 0 24 24"><path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"/></symbol>
    <!-- LAST_PAGE -->
    <symbol id="ic_last_page_24px" viewBox="0 0 24 24"><path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"/></symbol>
    <!-- MENU -->
    <symbol id="ic_menu_24px" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></symbol>
    <!-- PAUSE -->
    <symbol id="ic_pause_24px" viewBox="0 0 24 24"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/></symbol>
    <!-- PAUSE CIRCLE OUTLINE -->
    <symbol id="ic_pause_circle_outline_24px" viewBox="0 0 24 24"><path d="M9 16h2V8H9v8zm3-14C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm1-4h2V8h-2v8z"/></symbol>
    <!-- PLAY -->
    <symbol id="ic_play_24px" viewBox="0 0 24 24"><path d="M8 5v14l11-7z"/></symbol>
    <!-- PLAY CIRCLE OUTLINE -->
    <symbol id="ic_play_circle_outline_24px" viewBox="0 0 24 24"><path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></symbol>
    <!-- REPEAT -->
    <symbol id="ic_repeat_24px" viewBox="0 0 24 24"><path d="M7 7h10v3l4-4-4-4v3H5v6h2V7zm10 10H7v-3l-4 4 4 4v-3h12v-6h-2v4z"/></symbol>
    <!-- SKIP NEXT -->
    <symbol id="ic_skip_next_24px" viewBox="0 0 24 24"><path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/></symbol>
    <!-- SKIP PREVIOUS -->
    <symbol id="ic_skip_previous_24px" viewBox="0 0 24 24"><path d="M6 6h2v12H6zm3.5 6l8.5 6V6z"/></symbol>
    <!-- STOP -->
    <symbol id="ic_stop_24px" viewBox="0 0 24 24"><path d="M6 6h12v12H6z"/></symbol>

</svg>

</body>