<div class="cplayer cplayer-mode-{{mode}} {{cVm.channel.state}}"
 ng-class="{'expanded': cVm.isExpanded}">
    <div layout="row">
        <div class="cplayer-title" flex
        ng-bind="cVm.channel.media.name"></div>
        <div class="cplayer-eta" flex="none"
        ng-bind="cVm.channel.duration - cVm.channel.currentTime | secondsToTimecode"
        ng-hide="cVm.seekPreview">
        </div>
        <div class="cplayer-eta cplayer-eta-preview"
        ng-bind="cVm.seekPreview | secondsToTimecode:true"
        ng-if="cVm.seekPreview"></div>
    </div>

    <!-- Above-Timeline Buttons (Queue) -->
    <div class="cplayer-buttons" layout="row" ng-if="mode==='queue'">
        <div class="cplayer-buttons-container" flex
          ng-include="'templates/partials/cplayer-expand.html'">
        </div>
        <div class="cplayer-buttons-container" flex
          ng-include="'templates/partials/cplayer-play.html'">
        </div>
        <div class="cplayer-buttons-container" flex
          ng-include="'templates/partials/cplayer-clear.html'">
        </div>
    </div>

    <!-- Timeline -->
    <div layout="column" ng-if="cVm.isExpanded || mode!=='queue'">
        <div class="cplayer-timeline" layout="row">
            <div class="cplayer-timeline-bar">
                <div class="cplayer-timeline-progress"
                ng-style="{'transform':'scaleX('+(cVm.channel.currentTime/cVm.channel.duration)+')'}"></div>
                <div class="cplayer-timeline-seeker"
                ng-mousemove="cVm.timelineSeekPreview($event)"
                ng-mouseleave="cVm.seekPreview = undefined"
                ng-click="cVm.timelineSeek($event)"></div>
            </div>
        </div>

        <div layout="row">
            <div flex class="cplayer-timecode">
                <span ng-bind="cVm.channel.currentTime | secondsToTimecode : true"></span>
            </div>
            <div flex class="cplayer-timecode">
                <span ng-bind="cVm.channel.duration | secondsToTimecode : true"></span>
            </div>
        </div>
    </div>

    <div ng-switch="mode" ng-if="cVm.isExpanded">

        <!-- Below-Timeline buttons (Player) -->
        <div class="cplayer-buttons" layout="row" ng-switch-when="player">
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-loop.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-volume.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-play.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-stop.html'">
            </div>
        </div>

        <!-- Below-Timeline buttons (Queue) -->
        <div class="cplayer-buttons" layout="row" ng-switch-when="queue">
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-loop.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-fade.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-rate.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-volume.html'">
            </div>
        </div>


        <!-- Below-Timeline buttons (Preview) -->
        <div class="cplayer-buttons" layout="row" ng-switch-when="preview">
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-loop.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-play.html'">
            </div>
            <div class="cplayer-buttons-container" flex
              ng-include="'templates/partials/cplayer-volume.html'">
            </div>
        </div>
    </div>

</div>
