<div class="cplayer {{cVm.channel.state}}" ng-style="{'z-index':$index}">
    <div layout="row">
        <div class="cplayer-title" flex
        ng-bind="cVm.channel.media.name"></div>
        <div class="cplayer-eta" flex="none"
        ng-bind="cVm.channel.duration - cVm.channel.currentTime | secondsToTimecode"
        ng-hide="cVm.seekPreview">
        </div>
        <div class="cplayer-eta cplayer-eta-preview"
        ng-bind="cVm.seekPreview | secondsToTimecode:true"
        ng-if="cVm.seekPreview"></div>
    </div>


    <div class="cplayer-timeline" layout="row">
        <div class="cplayer-timeline-bar">
            <div class="cplayer-timeline-progress"
            ng-style="{'transform':'scaleX('+(cVm.channel.currentTime/cVm.channel.duration)+')'}"></div>
            <div class="cplayer-timeline-seeker"
            ng-mousemove="cVm.timelineSeekPreview($event)"
            ng-mouseleave="cVm.seekPreview = undefined"
            ng-click="cVm.timelineSeek($event)"></div>
        </div>
    </div>

    <div layout="row">
        <div flex class="cplayer-timecode">
            <span ng-bind="cVm.channel.currentTime | secondsToTimecode : true"></span>
        </div>
        <div flex class="cplayer-timecode">
            <span ng-bind="cVm.channel.duration | secondsToTimecode : true"></span>
        </div>
    </div>

    <div class="cplayer-buttons" layout="row">
        <div class="cplayer-buttons-container" flex>
            <md-button class="md-icon-button cplayer-button cplayer-button-loop"
            aria-label="repeat"
            ng-click="cVm.channel.repeat()"
            ng-disabled="cVm.channel.state==='STOPPING'"
            ng-class="{'active': cVm.channel.media.isLoop}">
                <md-icon><svg syn-icon="repeat"></svg></md-icon>
            </md-button>
        </div>
        <div class="cplayer-buttons-container" flex>
            <md-button class="md-icon-button cplayer-button cplayer-button-pause"
            aria-label="pause"
            ng-click="cVm.channel.pause()"
            ng-disabled="cVm.channel.state==='PAUSING'||cVm.channel.state==='STOPPING'"
            ng-if="cVm.channel.is_playing">
                <md-icon><svg syn-icon="pause"></svg></md-icon>
            </md-button>
            <md-button class="md-icon-button cplayer-button cplayer-button-play"
            aria-label="play"
            ng-click="cVm.channel.play()"
            ng-disabled="cVm.channel.state==='STOPPING'"
            ng-if="!cVm.channel.is_playing">
                <md-icon>
                    <svg syn-icon="play"></svg>
                </md-icon>
            </md-button>
            <md-button class="md-icon-button cplayer-button cplayer-button-queuing" ng-disabled="true" aria-label="please wait">
                <md-icon style="padding: 4px;">
                    <md-progress-circular
                    class="md-accent md-hue-3"
                    md-diameter="16px"
                    indeterminate></md-progress-circular>
                </md-icon>
            </md-button>

        </div>
        <div class="cplayer-buttons-container" flex>
            <md-button class="md-icon-button cplayer-button cplayer-button-stop"
            aria-label="stop"
            ng-click="cVm.channel.stop()"
            ng-disabled="cVm.channel.state==='PAUSING'">
                <md-icon><svg syn-icon="stop"></svg></md-icon>
            </md-button>
        </div>
    </div>

</div>