<md-menu  md-offset="100 48" md-position-mode="target-right target" md-theme="player">
    <md-button
    class="md-icon-button cplayer-button cplayer-button-subgroup"
    aria-label="media volume"
    ng-click="cVm.openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-align-target>
            <svg syn-icon="volume_up"></svg>
        </md-icon>
        <div class="cplayer-button-subtitle">
            {{cVm.channel.volume_pct}}%
        </div>
    </md-button>
    <md-menu-content class="cplayer-volume">
         <md-slider-container flex>
          <md-input-container>
            <input flex type="number"
            ng-model="cVm.channel.volume_pct"
            aria-label="volume"
            aria-controls="volume-slider">
          </md-input-container>
              <md-slider
                ng-model="cVm.channel.volume_pct"
                ng-change="cVm.volumeChange()"
                min="0"
                max="200"
                step="5"
                aria-label="volume"
                id="volume-slider"
                class="md-primary"
                md-vertical
                md-range></md-slider>
        </md-slider-container>
        <div layout="row" class="cplayer-volume-duration">
            <md-icon ng-mousedown="cVm.volumeDurationShift($event, true)"
                     ng-class="{'disabled': cVm.volumeChangeDuration === 0}"
                     class="cplayer-volume-duration-button"
                     flex="none">
                <svg syn-icon="chevron_left"></svg>
            </md-icon>
            <div class="cplayer-volume-duration-amount">
                {{cVm.volumeChangeDuration}}s
            </div>
            <md-icon ng-mousedown="cVm.volumeDurationShift($event)"
                     ng-class="{'disabled': cVm.volumeChangeDuration === cVm.maxVolumeDuration}"
                     class="cplayer-volume-duration-button"
                     flex="none">
                <svg syn-icon="chevron_right"></svg>
            </md-icon>
        </div>

    </md-menu-content>
</md-menu>
