
<md-dialog id="searchcue-dialog" style="background-color: transparent;" aria-label="search cues">
<form class="searchcue" ng-keyup="csVm.formSubmit($event)">
    <input type="submit" style="height:0;width:0;position:absolute;left:-99999;top:-99999;">
    <md-autocomplete class="searchcue-container"
        md-autofocus
        md-autoselect="true"
        md-selected-item="csVm.searchSelected"
        md-select-on-focus="true"
        md-search-text="csVm.searchQuery"
        md-items="item in csVm.searchCues(csVm.searchQuery)"
        md-item-text="item.name"
        md-input-id="searchcue-input"
        md-min-length="1"
        placeholder="Search Cues...">
        <md-item-template>
            <div layout="row" class="searchcue-result" ng-click="csVm.selectCue(item)">
                <div flex="none">
                    <md-button aria-label="play" class="md-icon-button">
                        <md-icon><svg syn-icon="play"></svg></md-icon>
                    </md-button>
                </div>
                <div flex class="searchcue-result-title" ng-bind="item.name"></div>
                <div flex="none">
                    <md-button aria-label="queue" class="md-icon-button" ng-click="csVm.queueCue(item)">
                        <md-icon><svg syn-icon="playlist_play"></svg></md-icon>
                    </md-button>
                </div>
            </div>
        </md-item-template>
    </md-autocomplete>

</form>
</md-dialog>