@import 'syn-common.scss';

#edit-toolbar {
    // color: #fff;
    // background-color: $syn-danger;

    .syn-icon {
        fill: #fff;
    }

}

// Buttons in sections to add a cue
.editor-addbutton {
    margin: 0 auto;
}

// Not all md-input-containers can do labels, so we match
.faux-label {
    color: rgba(0,0,0,0.54);
    font-size: 75%;
    margin-bottom: 4px;
}