.blink {
  animation: blink-animation 0.5s steps(8, start) infinite alternate; }

@keyframes blink-animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

#edit-toolbar .syn-icon {
  fill: #fff; }

.editor-addbutton {
  margin: 0 auto; }

.faux-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 75%;
  margin-bottom: 4px; }
