@import 'syn-common.scss';

.track {
    background-color: $track-background;
    border: solid 1px rgba(0,0,0,0.4);
    font-size: 12px;
    // With the big md-icon-button margins, no bottom padding
    padding: 8px 8px 0 8px;
    opacity:1;
    overflow:hidden;
    // Stack these ABOVE the titles, so they overlap
    position: relative;
    z-index:2;
}

.track-button {

    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &.active {
        stroke: $syn-accent;

        svg {
            background-color: rgba(0,0,0,0.12);
            border-radius: 4px;
            fill: darken($syn-accent, 20%);
        }
    }
}

.track-container {
    position: relative;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &-title {
        background-color: #696969;
        border-radius: 4px 4px 0 0;
        color: #eee;
        font-size: 10px;
        opacity: 1;
        padding: 4px 8px;

        // Use absolute positioning so the enter/leave doesn't jigger the animation
        position:absolute;
        left: 0; right: 0; bottom: 100%;
        transition: opacity 0.5s ease-in-out;

        &.ng-enter {
            display: block !important;
            opacity: 0;
            &-active {
                opacity: 1;
            }
        }
        &.ng-leave {
            display: block !important;
            &-active {
                opacity: 0;
            }
        }
    }
}

.track-eta {
    font-size: 16px;
    font-weight:500;
    line-height:1;

    &-preview {
        color: $syn-accent;
    }
}

.track-timecode {

    font-size: 12px;
    margin-top: -16px;
    padding: 0 8px;

    &:first-child { text-align: left;}
    &:last-child { text-align: right;}
}

.track-timeline {
    height: 32px;
    padding-top: 8px;

    &-bar {
        background-color: #bbb;
        height: 8px;
        position: relative;
        width: 100%;
    }
    &-progress {
        background-color: $syn-accent;
        position:absolute;
        top:0; left:0; bottom:0;
        width: 100%;
        z-index: 1;

        // Use transform rather than width, so it's smoother
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.1s linear, background-color 0.2s ease-in-out;
    }

    // The seeker lives on top for consistent offsets
    &-seeker {
        cursor: pointer;
        position: absolute;
        top:0; left: 0; right:0; bottom:0;
        z-index: 2;

        &:focus {
            outline: none;
        }
    }
}

.track-title {
    overflow:hidden;
    text-align: left;
    text-overflow:ellipsis;
    white-space: nowrap;
}


#currentTracks {
    background-color: #ddd;
    bottom:0;
    position:fixed;
    right:16px;
    width: 196px;
    z-index: 20;

    .track-container {
        $height: 96px;
        height: $height;
        opacity:1;
        position: relative;

        &-title {
            text-align: right;
        }

        &.ng-enter {
            display: block !important;
            height:0;
            z-index: 3;
            // opacity:0;
            &-active {
                height: $height;
                // opacity: 1;
            }
        }

        &.ng-leave {
            display: block !important;
            opacity:1;
            height: $height;
            z-index: 1;
            &-active {
                height:0;
                // opacity:0;
            }
        }

        &.STOPPING {
            cursor: default;
            .track-timeline-progress {
                background-color: #666;
            }
            .track-buttons {
                .track-button-loop, .track-button-play, .track-button-pause {

                }
                .track-button-stop {
                     @extend .blink;
                }
            }
        }

        &.PAUSING, &.PAUSED {
            .track-timeline-progress {
                background-color: $syn-accent-faded;
            }
            .track-button-pause {
                 @extend .blink;
            }
        }
    }
}

#queuedTracks {
    bottom:0;
    left:16px;
    position:fixed;
    width: 196px;
    z-index: 19;

    .track-container {
        $height: 64px;
        height: $height;
        opacity:1;
        position: relative;

        &-title {
            text-align: left;
        }

        &.ng-enter {
            display: block !important;
            height:0;
            z-index: 3;
            &-active {
                height: $height;

            }
        }

        &.ng-leave {
            display: block !important;
            opacity:1;
            height: $height;
            z-index: 1;

            &-active {
                height:0;

            }
        }

        &.expanded {
            height: 112px;
        }
    }
}