.blink {
  animation: blink-animation 0.5s steps(8, start) infinite alternate; }

@keyframes blink-animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.flashlight, .edit-toolbar-menuitem.highlight, .section-placeholder-pointer {
  animation: flashlight-animation 0.5s ease-in-out 5 alternate; }

@keyframes flashlight-animation {
  from {
    background-color: rgba(255, 192, 203, 0.8); }
  to {
    background-color: transparent; } }

.editmedia-cuelist-item-ancestry, .editmedia-cuelist-item-name, .editmedia-details-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden; }

div[dnd-list],
div[dnd-list] > dnd-nodrag {
  position: relative; }

div[dnd-list] .dndDraggingSource {
  opacity: 0.5; }

.deletehover, .editcue-sources-item-remove, .editmedia-cuelist-item-remove {
  cursor: pointer; }
  .deletehover:hover, .editcue-sources-item-remove:hover, .editmedia-cuelist-item-remove:hover {
    color: #e91e63; }

#edit-toolbar .syn-icon {
  fill: #fff; }

.editor-addbutton {
  margin: 0 auto; }

.faux-label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 75%;
  margin-bottom: 4px; }

.editcue-assignedfiles {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  padding-top: 8px; }

.editcue-column:first-child {
  padding-right: 16px; }

.editcue-column:last-child {
  width: 240px;
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  padding-left: 16px; }

.editcue-filelist {
  border-color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  height: 100%;
  margin-top: 4px;
  width: 100%; }
  .editcue-filelist-add {
    cursor: pointer;
    font-size: 12px; }
  .editcue-filelist-filter {
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    padding: 8px;
    position: relative;
    width: 100%; }
    .editcue-filelist-filter:focus {
      border-color: #e91e63;
      outline: none; }

.editcue-hotkey .hotkey-input {
  display: inline;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 16px; }

.editcue-hotkey .hotkey-input-container {
  display: flex;
  margin: 8px 0; }

.editcue-hotkey .hotkey-capture {
  font-weight: 500; }

.editcue-hotkey .hotkey-capture, .editcue-hotkey .hotkey-placeholder {
  background-color: #fff;
  color: #e91e63;
  border: solid 2px #e91e63; }

.editcue-hotkey .hotkey-bound {
  border: solid 1px rgba(0, 0, 0, 0.1); }

.editcue-hotkey .hotkey-placeholder, .editcue-hotkey .hotkey-none {
  font-style: italic;
  color: #666; }

.editcue-modal.modal-body {
  min-width: 640px; }

.editcue-sources {
  min-height: 3em; }
  .editcue-sources-item {
    padding-left: 1em;
    font-size: 14px; }
    .editcue-sources-item-name {
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden; }
      .editcue-sources-item-name:hover {
        color: #e91e63; }
    .editcue-sources-item-remove:not(:hover) {
      opacity: 0.5; }

.editmedia-cuelist {
  font-size: 14px;
  margin: 8px 0; }
  .editmedia-cuelist-item {
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    padding-left: 4px; }
    .editmedia-cuelist-item:last-child {
      border-bottom: none; }
    .editmedia-cuelist-item:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    .editmedia-cuelist-item-ancestry {
      font-size: 10px;
      color: #888;
      margin-top: -6px;
      margin-bottom: 4px; }
    .editmedia-cuelist-item-name {
      line-height: 24px; }
    .editmedia-cuelist-item-remove {
      line-height: 24px;
      white-space: nowrap; }
      .editmedia-cuelist-item-remove.icon {
        vertical-align: -webkit-baseline-middle; }
  .editmedia-cuelist-title {
    font-size: 12px;
    font-style: italic;
    color: #666;
    margin-bottom: 4px; }

.editmedia-details-title {
  line-height: 48px; }

.editmedia-details-meta {
  color: #666;
  font-size: 12px;
  margin: -16px 0 16px 0; }

.editmedia-details-showfile:not(:hover) {
  opacity: 0.5; }

.editmedia-modal {
  height: 600px; }

.editmedia-player {
  margin: 8px 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden; }
  .editmedia-player.visible {
    visibility: visible;
    opacity: 1; }

.editmedia-rightcolumn {
  width: 240px; }

.edit-sectionheader-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.edit-sectionheader-cta {
  cursor: pointer; }
  .edit-sectionheader-cta:hover {
    color: #e91e63; }

.managelist {
  min-width: 320px; }

.managelist-section {
  background-color: #eee;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0 0;
  line-height: 14px;
  padding: 4px;
  overflow-y: hidden;
  transition: height 0.25s ease-in-out; }
  .managelist-section:last-child {
    border-bottom-width: 1px; }
  .managelist-section-delete {
    cursor: pointer; }
    .managelist-section-delete:hover .syn-icon {
      fill: #e91e63; }
  .managelist-section-input {
    border-color: transparent;
    background-color: transparent;
    font-size: 12px;
    width: 100%; }
    .managelist-section-input:focus {
      outline: none;
      border-bottom-color: #1e88e5; }
  .managelist-section-name {
    font-weight: 300;
    padding: 4px 8px; }
  .managelist-section.ng-enter {
    display: flex !important;
    height: 0; }
    .managelist-section.ng-enter-active {
      height: 49px; }
  .managelist-section.ng-leave {
    display: flex !important;
    height: 49px; }
    .managelist-section.ng-leave-active {
      height: 0; }

.page-tab-container .dndPlaceholder {
  list-style: none;
  list-style-image: none;
  display: inline-block;
  border-left: dotted 2px #ddd;
  height: 100%;
  margin: 0 8px;
  vertical-align: bottom; }

.page-tab-container .dndDragging {
  opacity: 0.7; }

.page-tab.dndDraggingSource, .cueButton-container.dndDraggingSource,
.managelist-section.dndDraggingSource {
  display: none !important; }

.section-container .dndPlaceholder {
  list-style: none;
  list-style-image: none;
  border-bottom: dotted 1px #e91e63;
  margin: 8px 0; }

.managelist-container > .dndPlaceholder {
  list-style: none;
  list-style-image: none; }
  .managelist-container > .dndPlaceholder + .managelist-section {
    border-top: dotted 1px #e91e63; }
  .managelist-container > .dndPlaceholder:last-child {
    border-bottom: dotted 1px #e91e63; }

.projectcreator-input {
  min-width: 12em; }

.section-placeholder {
  background-image: url("background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 16px;
  font-style: italic;
  color: #666;
  margin: 0 auto;
  padding: 64px; }
  .section-placeholder-pointer {
    border-radius: 32px;
    bottom: 4px;
    left: 16px;
    line-height: 2.5;
    padding: 4px 16px;
    position: absolute; }
    .section-placeholder-pointer-icon {
      display: inline-block;
      line-height: 0;
      margin-top: 8px;
      transform: rotate(90deg);
      vertical-align: bottom;
      opacity: 0.5; }
