@import 'syn-common.scss';

$queue-container-height: 64px;
$track-container-height: 96px;
$expanded-container-height: 144px;
$track-trans-time: 0.5s;

// A container that holds a channel players
.track-container-player {
    display: block;
    position: relative;
    opacity: 1;
    transition: height $track-trans-time ease-in-out, opacity $track-trans-time ease-in-out;

    &.expanded {
        background-color: red !important;
    }

     &.ng-enter {
        display: block !important;
        height:0;
        opacity:0;
        overflow:hidden;

        &-active {
            opacity: 1;

            &:not(.queue) {
                height: $track-container-height;
            }
            &.queue {
               height: $queue-container-height;
            }
        }
    }

    &.ng-leave {
        display: block !important;
        overflow:hidden;

        &:not(.queue) {
            height: $track-container-height;
        }
        &.queue {
           height: $queue-container-height;
        }
        &.expanded {
            height: $expanded-container-height;
        }

        &-active {
            opacity: 0;
            height:0 !important;
        }
    }

}

.cplayer {
    background-color: $track-background;
    border: solid 1px rgba(0,0,0,0.4);
    font-size: 12px;
    // With the big md-icon-button margins, no bottom padding
    padding: 8px 8px 0 8px;
    opacity:1;
    // Stack these ABOVE the titles, so they overlap
    position: relative;
    z-index:2;

    transition: height $track-trans-time ease-in-out;

    &:not(.queue) {
        height: $track-container-height;
    }
    &.queue {
        height: $queue-container-height
    }

    &.expanded:not(.STOPPING):not(.STOPPED) {
        height: $expanded-container-height;

        .cplayer-button-expand {
            transform: rotate(180deg);
        }

    }

    &.STOPPING {
        cursor: default;
        .cplayer-timeline-progress {
            background-color: #666;
        }
        .cplayer-buttons {
            .cplayer-button-loop, .cplayer-button-play, .cplayer-button-pause {

            }
            .cplayer-button-stop {
                 @extend .blink;
            }
        }
    }

    &.PAUSING, &.PAUSED {
        .cplayer-timeline-progress {
            background-color: $syn-accent-faded;
        }
        .cplayer-button-pause {
             @extend .blink;
        }
    }

    .cplayer-button-queuing { display: none; }

    &.QUEUING {
        .cplayer-button-play, .cplayer-button-pause
        {
            display: none;
        }
        .cplayer-button-queuing {
            display: inline;
        }
    }
}

.cplayer-button {

    opacity: 1;
    transition: opacity $track-trans-time ease-in-out, transform $track-trans-time ease-in-out;

    &.active {
        stroke: $syn-accent;

        svg {
            background-color: rgba(0,0,0,0.12);
            border-radius: 4px;
            fill: darken($syn-accent, 20%);
        }
    }
}

.cplayer-buttons-container {
    // Align them for visual balance
    text-align: center;
    &:first-child { text-align: left;}
    &:last-child { text-align: right;}
}

.cplayer-eta {
    font-size: 16px;
    font-weight:500;
    line-height:1;

    &-preview {
        color: $syn-accent;
    }
}

.cplayer-subgroup {
    font-size: 10px;
    color: #666;
    padding-top: 8px;
    text-align: center;
    text-transform: capitalize;

}

.cplayer-timecode {

    font-size: 12px;
    margin-top: -16px;
    padding: 0 8px;

    &:first-child { text-align: left;}
    &:last-child { text-align: right;}
}

.cplayer-timeline {
    height: 32px;
    padding-top: 8px;

    &-bar {
        background-color: #bbb;
        height: 8px;
        position: relative;
        width: 100%;
    }
    &-progress {
        background-color: $syn-accent;
        position:absolute;
        top:0; left:0; bottom:0;
        width: 100%;
        z-index: 1;

        // Use transform rather than width, so it's smoother
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.1s linear, background-color 0.2s ease-in-out;
    }

    // The seeker lives on top for consistent offsets
    &-seeker {
        cursor: pointer;
        position: absolute;
        top:0; left: 0; right:0; bottom:0;
        z-index: 2;

        &:focus {
            outline: none;
        }
    }
}

// Instant when paused
.cplayer.QUEUED .cplayer-timeline-progress, .cplayer.PAUSED .cplayer-timeline-progress {
    transition-duration: 0s;
}

.cplayer-title {
    overflow:hidden;
    text-align: left;
    text-overflow:ellipsis;
    white-space: nowrap;
}


/**  SPECIFIC STYLES TO PLAYBACK VIEW **/

.track-container-title {
    background-color: #696969;
    border-radius: 4px 4px 0 0;
    color: #eee;
    font-size: 10px;
    opacity: 1;
    padding: 4px 8px;

    // Use absolute positioning so the enter/leave doesn't jigger the animation
    position:absolute;
    left: 0; right: 0; bottom: 100%;
    transition: opacity $track-trans-time ease-in-out;

    &.ng-enter {
        display: block !important;
        opacity: 0;
        &-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        display: block !important;
        &-active {
            opacity: 0;
        }
    }
}

// The currently-playing container
#currentTracks {
    background-color: #ddd;
    bottom:0;
    position:fixed;
    right:16px;
    width: 196px;
    z-index: 20;

    .track-container-title {
        text-align: right;
    }
}

// The queued-channel container
#queuedTracks {
    bottom:0;
    left:16px;
    position:fixed;
    width: 196px;
    z-index: 19;

    .track-container-title {
        text-align: left;
    }
}

// The edit media container
.editmedia-player {
    // Don't show the stop button, pause is good enough
    .cplayer-button-stop {
        visibility: hidden;
    }
}