$syn-accent-400: #42a5f5;
$syn-accent-500: #2196F3;
$syn-accent-600: #1e88e5;
$syn-accent-700: #1976d2;
$syn-accent-900: #0d47a1;
$syn-background: #eee;

$syn-accent: $syn-accent-600;
$syn-accent-faded: desaturate($syn-accent, 50%);

$syn-danger: #e91e63; // rgb(233,30,99);

$track-background: #ddd;
$track-trans-time: 0.5s;
$track-container-height: 96px;
$queue-container-height: 64px;
$expanded-container-height: 144px;

.blink {
  animation: blink-animation 0.5s steps(8, start) infinite alternate;
}
@keyframes blink-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flashlight {
  animation: flashlight-animation 0.5s ease-in-out 5 alternate;
}
@keyframes flashlight-animation {
  from {
    background-color: transparentize(pink,0.2);
  }
  to {
    background-color: transparent;
  }
}

%textellipse {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

