@import 'syn-common.scss';

div[dnd-list],
div[dnd-list] > dnd-nodrag {
  position: relative;
}
div[dnd-list] .dndDraggingSource {
  // display: none;
  opacity: 0.5;
}

.deletehover {
    cursor: pointer;
    &:hover {
        color: $syn-danger;
    }
}

#edit-toolbar {
    // color: #fff;
    // background-color: $syn-danger;

    .syn-icon {
        fill: #fff;
    }
}

// Items in the menu
.edit-toolbar-menuitem {
    // Draw attention to where the user should go
    &.highlight {
        @extend .flashlight;
    }
}

// Buttons in sections to add a cue
.editor-addbutton {
    margin: 0 auto;
}

// Not all md-input-containers can do labels, so we match
.faux-label {
    color: rgba(0,0,0,0.54);
    font-size: 75%;
    margin-bottom: 4px;
}

.editcue-column {
    $colpadding: 16px;

    &:first-child {
        padding-right: $colpadding;
    }
    &:last-child {
        border-left: solid 1px rgba(0,0,0,0.1);
        padding-left: $colpadding;
    }
}

.editcue-filelist {
    border-color: rgba(0,0,0,0.2);
    font-size: 12px;
    height: 100%;
    margin-top: 4px;
    width: 100%;

    &-add {
        cursor: pointer;
        font-size: 12px;
    }

    &-filter {
        border: solid 1px rgba(0,0,0,0.1);
        font-size: 12px;
        padding: 8px 8px 4px 8px;
        width: 100%;

        &:focus {
            border-color: $syn-danger;
            outline: none;
        }
    }
}

.editcue-modal.modal-body {
    min-width: 640px;
}

.editcue-sources {

    min-height: 3em;

    &-item {
        padding-left: 1em;
        font-size: 14px;

        &-name {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-x: hidden;
        }

        &-remove {
            &:not(:hover) {
                opacity: 0.5;
            }
            @extend .deletehover;
        }
    }
}

.editmedia-cuelist {
    font-size: 14px;
    margin: 8px 0;


    &-item {
        border-bottom: solid 1px rgba(0,0,0,0.15);
        padding-left: 4px;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: rgba(0,0,0,0.05);
        }

        &-ancestry {
            font-size: 10px;
            color: #888;
            margin-top: -6px;
            margin-bottom: 4px;
            @extend %textellipse;
        }

        &-name {
            line-height: 24px;
            @extend %textellipse;
        }

        &-remove {
            line-height: 24px;
            white-space: nowrap;

            &.icon {
                vertical-align: -webkit-baseline-middle;
            }

            @extend .deletehover;

        }
    }

    &-title {
        font-size: 12px;
        font-style: italic;
        color: #666;
        margin-bottom: 4px;
    }
}

.editmedia-details {

    &-title {
        // Push down below the size/button on the left
        line-height: 48px;
        @extend %textellipse;
    }

    &-meta {
        color: #666;
        font-size: 12px;
        // Shift up to nestle under the title
        margin: -16px 0 16px 0;
    }

    &-showfile {
        &:not(:hover) {
            opacity: 0.5;
        }
    }
}

.editmedia-modal {
    // The mdDialog constrains to 100%, so this is safe
    height: 600px;
}

.editmedia-player {
    margin: 8px 0;
}

.editmedia-rightcolumn {
    width: 240px;
}


// The link to edit a section
.edit-sectionheader {

    &-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &-cta {
        cursor: pointer;
        &:hover {
            color: $syn-danger;
        }
    }
}

// The edit section modal
.managelist {
    min-width: 320px;
}

.managelist-container {

}

.managelist-section {
    background-color: $syn-background;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    border-width: 1px 0 0 0;

    line-height: 14px;
    padding: 4px;

    &:last-child {
        border-bottom-width: 1px;
    }

    &-delete {
        cursor: pointer;
        &:hover .syn-icon {
            fill: $syn-danger;
        }
    }

    &-input {
        border-color: transparent;
        background-color: transparent;
        font-size: 12px;
        width: 100%;

        &:focus {
            outline: none;
            border-bottom-color: $syn-accent;
        }
    }

    &-name {
        font-weight: 300;
        padding: 4px 8px;
    }

    // Animate in and out
    overflow-y: hidden;
    transition: height 0.25s ease-in-out;

    &.ng-enter {
        display: flex !important;
        height:0;
        &-active {
            height: 49px;
        }
    }
    &.ng-leave {
        display: flex !important;
        height: 49px;
        &-active {
            height: 0;
        }
    }
}

// Drag placeholders for pages
.page-tab-container .dndPlaceholder {
    list-style: none;
    list-style-image: none;
    display: inline-block;
    border-left: dotted 2px #ddd;
    height: 100%;
    margin: 0 8px;
    vertical-align:bottom;
}

.page-tab-container .dndDragging {
    opacity: 0.7;
}

// The dragged item, hide it
.page-tab.dndDraggingSource, .cueButton-container.dndDraggingSource,
.managelist-section.dndDraggingSource {
    display: none !important;
}

// Drag placeholders for cues, sections
.section-container .dndPlaceholder {
    list-style: none;
    list-style-image: none;

    border-bottom: dotted 1px $syn-danger;
    margin: 8px 0;
}

.managelist-container > .dndPlaceholder {
    list-style: none;
    list-style-image: none;

    & + .managelist-section {
        border-top: dotted 1px $syn-danger;
    }
    &:last-child {
        border-bottom: dotted 1px $syn-danger;
    }
}


.projectcreator {

    &-input {
        min-width: 12em;
    }
}

.section-placeholder {

    background-image: url('background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    font-size: 16px;
    font-style: italic;
    color: #666;
    margin: 0 auto;
    padding: 64px;

    &-pointer {
        border-radius: 32px;
        bottom: 4px;
        left: 16px;
        line-height: 2.5;
        padding: 4px 16px;
        position:absolute;

        @extend .flashlight;

        &-icon {
            // @extend .blink;
            display: inline-block;
            line-height: 0;
            margin-top: 8px;
            transform: rotate(90deg);
            vertical-align: bottom;
            opacity: 0.5;
        }
    }
}