$syn-accent: #368BE6;
$syn-accent-faded: desaturate($syn-accent, 50%);
$syn-background: #eee;
$syn-danger: rgb(233,30,99);
$track-background: #ddd;

.blink {
  animation: blink-animation 0.5s steps(8, start) infinite alternate;
}
@keyframes blink-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.flashlight {
  animation: flashlight-animation 0.5s ease-in-out 5 alternate;
}
@keyframes flashlight-animation {
  from {
    background-color: transparentize(pink,0.2);
  }
  to {
    background-color: transparent;
  }
}

%textellipse {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}