.blink, #currentTracks .track-container.STOPPING .track-buttons .track-button-stop, #currentTracks .track-container.PAUSING .track-button-pause, #currentTracks .track-container.PAUSED .track-button-pause {
  animation: blink-animation 0.5s steps(8, start) infinite alternate; }

@keyframes blink-animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.track {
  background-color: #ddd;
  border: solid 1px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  padding: 8px 8px 0 8px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  z-index: 2; }

.track-button {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }
  .track-button.active {
    stroke: #368BE6; }
    .track-button.active svg {
      background-color: rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      fill: #1459a2; }

.track-container {
  position: relative;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; }
  .track-container-title {
    background-color: #696969;
    border-radius: 4px 4px 0 0;
    color: #eee;
    font-size: 10px;
    opacity: 1;
    padding: 4px 8px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: opacity 0.5s ease-in-out; }
    .track-container-title.ng-enter {
      display: block !important;
      opacity: 0; }
      .track-container-title.ng-enter-active {
        opacity: 1; }
    .track-container-title.ng-leave {
      display: block !important; }
      .track-container-title.ng-leave-active {
        opacity: 0; }

.track-eta {
  font-size: 16px;
  font-weight: 500;
  line-height: 1; }
  .track-eta-preview {
    color: #368BE6; }

.track-timecode {
  font-size: 12px;
  margin-top: -16px;
  padding: 0 8px; }
  .track-timecode:first-child {
    text-align: left; }
  .track-timecode:last-child {
    text-align: right; }

.track-timeline {
  height: 32px;
  padding-top: 8px; }
  .track-timeline-bar {
    background-color: #bbb;
    height: 8px;
    position: relative;
    width: 100%; }
  .track-timeline-progress {
    background-color: #368BE6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s linear, background-color 0.2s ease-in-out; }
  .track-timeline-seeker {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
    .track-timeline-seeker:focus {
      outline: none; }

.track-title {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap; }

#currentTracks {
  background-color: #ddd;
  bottom: 0;
  position: fixed;
  right: 16px;
  width: 196px;
  z-index: 20; }
  #currentTracks .track-container {
    height: 96px;
    opacity: 1;
    position: relative; }
    #currentTracks .track-container-title {
      text-align: right; }
    #currentTracks .track-container.ng-enter {
      display: block !important;
      height: 0;
      z-index: 3; }
      #currentTracks .track-container.ng-enter-active {
        height: 96px; }
    #currentTracks .track-container.ng-leave {
      display: block !important;
      opacity: 1;
      height: 96px;
      z-index: 1; }
      #currentTracks .track-container.ng-leave-active {
        height: 0; }
    #currentTracks .track-container.STOPPING {
      cursor: default; }
      #currentTracks .track-container.STOPPING .track-timeline-progress {
        background-color: #666; }
    #currentTracks .track-container.PAUSING .track-timeline-progress, #currentTracks .track-container.PAUSED .track-timeline-progress {
      background-color: #6f8dae; }

#queuedTracks {
  bottom: 0;
  left: 16px;
  position: fixed;
  width: 196px;
  z-index: 19; }
  #queuedTracks .track-container {
    height: 64px;
    opacity: 1;
    position: relative; }
    #queuedTracks .track-container-title {
      text-align: left; }
    #queuedTracks .track-container.ng-enter {
      display: block !important;
      height: 0;
      z-index: 3; }
      #queuedTracks .track-container.ng-enter-active {
        height: 64px; }
    #queuedTracks .track-container.ng-leave {
      display: block !important;
      opacity: 1;
      height: 64px;
      z-index: 1; }
      #queuedTracks .track-container.ng-leave-active {
        height: 0; }
    #queuedTracks .track-container.expanded {
      height: 112px; }
