.blink, .cueButton-badge.channelState-PAUSING .badge-pause .syn-icon,
.cueButton-badge.channelState-STOPPING .badge-stop .syn-icon,
.cueButton-badge.channelState-QUEUING .badge-queue .syn-icon {
  animation: blink-animation 0.5s steps(8, start) infinite alternate; }

@keyframes blink-animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden; }
  body.stealth #page-header, body.stealth #page-tabs {
    display: none; }

button:active, button:focus {
  outline: none;
  border: none; }

.modal-body {
  padding: 24px;
  text-align: left; }

.modal-content {
  margin: 0 auto; }

.modal-title {
  font-size: 24px;
  font-weight: 400; }

.modal-desc {
  font-weight: 300;
  max-width: 400px;
  margin: 8px 0;
  text-align: justify; }

.modal-footer .cancelbutton:not(:hover) {
  opacity: 0.5; }

.hint {
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }

#page-headergroup {
  background-color: #646464;
  background-position: center center;
  background-size: cover; }
  #page-headergroup.hasBanner #page-header-container {
    height: 96px; }
  #page-headergroup.hasBanner #page-tabs {
    background-color: rgba(100, 100, 100, 0.7); }
  #page-headergroup.hasBanner .page-title {
    text-align: right;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.15);
    padding-right: 0; }

#page-header-container {
  background-color: transparent;
  position: relative;
  font-family: sans-serif; }

#page-header {
  padding: 8px;
  color: rgba(255, 255, 255, 0.9); }
  #page-header .page-title {
    vertical-align: middle;
    font-weight: bold;
    font-size: 105%;
    padding-right: 64px; }
  #page-header .page-option-container {
    font-size: 12px;
    text-align: right; }
  #page-header .page-option {
    cursor: pointer;
    opacity: 0.6; }
    #page-header .page-option:hover {
      opacity: 1; }
    #page-header .page-option:focus {
      outline: none; }

#page-header-logo {
  background-image: url("synthea_icon.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 48px;
  height: 64px;
  width: 64px; }

#page-tabs {
  color: #eee;
  border-bottom: solid 1px #ddd; }
  #page-tabs .page-tab {
    padding: 8px 16px;
    outline: none; }
    #page-tabs .page-tab:focus {
      background-color: #999; }
    #page-tabs .page-tab.current {
      background-color: #368BE6;
      color: #fff; }
    #page-tabs .page-tab:not(.current):hover {
      background-color: #999;
      cursor: pointer; }

#page-container {
  background-color: #eee;
  clear: both;
  padding-bottom: 15px; }
  #page-container-content {
    justify-content: center; }
  #page-container .section {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
    max-width: 300px;
    min-width: 200px;
    position: relative; }
    #page-container .section-header {
      background-color: #eee;
      position: relative;
      z-index: 2;
      display: inline-block;
      padding: 0 0.5em; }
    #page-container .section-container {
      margin: -12px 8px 1em 8px;
      padding: 16px 8px;
      border: solid 1px #ccc;
      border-radius: 8px; }

.cueButton.md-button {
  background-color: #fafafa;
  border: solid 1px #bbb;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: none;
  width: 100%; }

.cueButton-badge {
  position: absolute;
  top: 4px;
  left: -4px;
  background-color: #6f8dae;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  height: 18px;
  width: 18px;
  transition-property: background-color, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  .cueButton-badge.channelState- {
    opacity: 0; }
  .cueButton-badge.channelState-ERROR {
    background-color: transparent; }
  .cueButton-badge.channelState-PLAYING {
    background-color: #368BE6; }
  .cueButton-badge.channelState-STOPPING, .cueButton-badge.channelState-STOPPED {
    background-color: #999; }
  .cueButton-badge.channelState-QUEUING, .cueButton-badge.channelState-QUEUED {
    padding: 1px 0 0 2px; }
  .cueButton-badge .badge {
    position: absolute;
    visibility: hidden;
    top: -1px;
    left: 0; }
    .cueButton-badge .badge.badge-queue {
      top: 0;
      left: 1px; }
    .cueButton-badge .badge.badge-error {
      left: -3px;
      top: -2px; }
      .cueButton-badge .badge.badge-error .syn-icon {
        fill: #c50836; }
    .cueButton-badge .badge .syn-icon {
      fill: #fff; }
  .cueButton-badge.channelState-PAUSED .badge-pause,
  .cueButton-badge.channelState-PAUSING .badge-pause,
  .cueButton-badge.channelState-PLAYING .badge-play,
  .cueButton-badge.channelState-QUEUED .badge-queue,
  .cueButton-badge.channelState-QUEUING .badge-queue,
  .cueButton-badge.channelState-STOPPING .badge-stop,
  .cueButton-badge.channelState-STOPPED .badge-stop,
  .cueButton-badge.channelState-ERROR .badge-error {
    visibility: visible; }

.cueButton-container {
  padding: 8px 0;
  position: relative; }
