$syn-accent: #368BE6;

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: #eee;
	margin:0;
	padding: 0;
	text-align: center;
	// Let the md-content handle the scrolling
	overflow:hidden;
	// Keep room for the player
	padding-bottom: 30px;

	&.stealth {
		#page-header, #page-tabs { display: none;}

		#page-container, column, track-container {
			color: #dddddd !important;
			background-color: #eeeeee !important;
		}
	}
}

button:active, button:focus {
	outline: none;
	border: none;
}

#currentTracks {
	background-color: #ddd;
	bottom:0;
	position:absolute;
	right:16px;
	width: 196px;
	z-index: 20;

	.track-container {
		$height: 112px;
		height: $height;
		opacity:1;

		&.ng-enter {
			display: block !important;
			height:0;
			opacity:0;
			&-active {
				height: $height;
				opacity: 1;
			}
		}

		&.ng-leave {
			display: block !important;
			opacity:1;
			height: $height;
			&-active {
				height:0;
				opacity:0;
			}
		}
	}
}

#queuedTracks {
	bottom:0;
	left:16px;
	position:absolute;
	width: 196px;
	z-index: 19;

	.track-container {
		$height: 64px;
		height: $height;
		opacity:1;

		&.ng-enter {
			display: block !important;
			height:0;
			opacity:0;
			&-active {
				height: $height;
				opacity: 1;
			}
		}

		&.ng-leave {
			display: block !important;
			opacity:1;
			height: $height;
			&-active {
				height:0;
				opacity:0;
			}
		}

		&.expanded {
			height: 112px;
		}
	}
}

#synLoader {
	padding: 24px;
	text-align: left;

	&-content {
		max-width: 400px;
		margin: 0 auto;
	}

	#loader-title {
		font-size: 24px;
		font-weight:400;
	}

	#loader-desc {
		font-weight: 300;
		margin: 8px 0;
		text-align: justify;
	}

	#loader-footer {
		text-align: right;
		.cancelbutton:not(:hover) {
			opacity: 0.5;
		}
	}
}

.track {

	background-color: #ddd;
	border: solid 1px rgba(0,0,0,0.4);
	font-size: 12px;
	padding: 8px;
	opacity:1;
	overflow:hidden;

}

.track-button {
	&.active {
		// background-color: rgba(0,0,0,0.2);
		stroke: $syn-accent;
	}
}

.track-container {
	position: relative;
	transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.track-eta {
	font-size: 16px;
	font-weight:500;
	line-height:1;
}

.track-timecode {

	font-size: 12px;
	margin-top: -16px;
	padding: 0 8px;

	&:first-child { text-align: left;}
	&:last-child { text-align: right;}
}

.track-title {
	overflow:hidden;
	text-align: left;
	text-overflow:ellipsis;
	white-space: nowrap;
}

#page-bannersection {
	background-color: rgb(100,100,100);
	background-position: center center;
	background-size: cover;

	&.hasBanner {


		#page-header {
			height: 128px;
		}

		#page-tabs {
			background-color: rgba(100,100,100,0.7);
		}

		#title {
			text-align: right;
					text-shadow: 1px 1px 2px rgba(0,0,0,0.1), 2px 2px 2px rgba(0,0,0,0.15);


			&-text {
				line-height: 48px;
			}
		}

		#logo-offset {
			display: none;
		}

	}
}

#page-header {
	background-color: transparent;
	position:relative;
	font-family: sans-serif;

	#title {
		display: inline-block;
		padding: 8px;
		color: rgba(255,255,255,0.8);

		&-text {
			line-height: 60px;
			vertical-align: middle;
			font-weight: bold;
			font-size: 105%;
			padding-left: 10px;
		}
	}

	#logo {
		background-image: url('synthea_icon.png');
		background-position: 8px 8px;
		background-repeat: no-repeat;
		background-size: 48px;
	}

	#logo, #logo-offset {
		width: 64px;
	}

}




#page-tabs {
	color: #eee;
	border-bottom: solid 1px #ddd;

	.page-tab-container {

	}

	.page-tab {
		padding: 8px 16px;
		outline: none;

		&:focus {
			background-color: #999;
		}

		&.current {
			background-color: $syn-accent;
			color: #fff;
		}

		&:not(.current):hover {
			background-color: #999;
			cursor: pointer;
		}
	}
}

#page-container {
	background-color: #eee;
	clear: both;
	padding-bottom: 15px;

	&-content {
		justify-content: center;
	}

	.column {
		display: inline-block;
		vertical-align:top;
		margin-top: 1em;
		// Have some reasonableness to the button column widths
		max-width: 300px;
		min-width:200px;
		position: relative;

		&-header {
			background-color: #eee;
			position: relative;
			z-index: 2;
			display: inline-block;
			padding: 0 0.5em;
		}

		&-container {
			margin: -12px 8px 1em 8px;
			padding: 16px 8px;
			border: solid 1px #ccc;
			border-radius: 8px;
		}
	}

}

.md-button.cueButton {

	background-color: #fafafa;
	border: solid 1px #bbb;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 400;
	margin:0;
	text-transform: none;
	width: 100%;

	&.current {
		background-color: $syn-accent;
		color: #fff;
	}
}

.cueButton-container {
	padding: 8px 0;
}

md-slider.track-timebar {
	.md-track-fill, .md-thumb, .md-thumb-container, .md-focus-ring {
		transition-timing-function: linear;
		transition-duration: 0.01s;
	}
}