*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden; }
  body.stealth #page-header, body.stealth #page-tabs {
    display: none; }

button:active, button:focus {
  outline: none;
  border: none; }

#currentTracks {
  background-color: #ddd;
  bottom: 0;
  position: fixed;
  right: 16px;
  width: 196px;
  z-index: 20; }
  #currentTracks .track-container {
    height: 96px;
    opacity: 1; }
    #currentTracks .track-container-title {
      text-align: right; }
    #currentTracks .track-container.ng-enter {
      display: block !important;
      height: 0;
      opacity: 0; }
      #currentTracks .track-container.ng-enter-active {
        height: 96px;
        opacity: 1; }
    #currentTracks .track-container.ng-leave {
      display: block !important;
      opacity: 1;
      height: 96px; }
      #currentTracks .track-container.ng-leave-active {
        height: 0;
        opacity: 0; }
    #currentTracks .track-container.STOPPING {
      cursor: default; }
      #currentTracks .track-container.STOPPING .track-timeline-progress {
        background-color: #666; }
    #currentTracks .track-container.PAUSING .track-timeline-progress, #currentTracks .track-container.PAUSED .track-timeline-progress {
      background-color: #6f8dae; }

#queuedTracks {
  bottom: 0;
  left: 16px;
  position: fixed;
  width: 196px;
  z-index: 19; }
  #queuedTracks .track-container {
    height: 64px;
    opacity: 1; }
    #queuedTracks .track-container-title {
      text-align: left; }
    #queuedTracks .track-container.ng-enter {
      display: block !important;
      height: 0;
      opacity: 0; }
      #queuedTracks .track-container.ng-enter-active {
        height: 64px;
        opacity: 1; }
    #queuedTracks .track-container.ng-leave {
      display: block !important;
      opacity: 1;
      height: 64px; }
      #queuedTracks .track-container.ng-leave-active {
        height: 0;
        opacity: 0; }
    #queuedTracks .track-container.expanded {
      height: 112px; }

.modal-body {
  padding: 24px;
  text-align: left; }

.modal-content {
  margin: 0 auto; }

.modal-title {
  font-size: 24px;
  font-weight: 400; }

.modal-desc {
  font-weight: 300;
  max-width: 400px;
  margin: 8px 0;
  text-align: justify; }

.modal-footer .cancelbutton:not(:hover) {
  opacity: 0.5; }

.hint {
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }

.track {
  background-color: #ddd;
  border: solid 1px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  padding: 8px 8px 0 8px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  z-index: 2; }

.track-button {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }
  .track-button.active {
    stroke: #368BE6; }
    .track-button.active svg {
      background-color: rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      fill: #1459a2; }

.track-container {
  position: relative;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out; }
  .track-container-title {
    background-color: #696969;
    border-radius: 4px 4px 0 0;
    color: #eee;
    font-size: 10px;
    opacity: 1;
    padding: 4px 8px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: opacity 0.5s ease-in-out; }
    .track-container-title.ng-enter {
      display: block !important;
      opacity: 0; }
      .track-container-title.ng-enter-active {
        opacity: 1; }
    .track-container-title.ng-leave {
      display: block !important; }
      .track-container-title.ng-leave-active {
        opacity: 0; }

.track-eta {
  font-size: 16px;
  font-weight: 500;
  line-height: 1; }
  .track-eta-preview {
    color: #368BE6; }

.track-timecode {
  font-size: 12px;
  margin-top: -16px;
  padding: 0 8px; }
  .track-timecode:first-child {
    text-align: left; }
  .track-timecode:last-child {
    text-align: right; }

.track-timeline {
  height: 32px;
  padding-top: 8px; }
  .track-timeline-bar {
    background-color: #bbb;
    height: 8px;
    position: relative;
    width: 100%; }
  .track-timeline-progress {
    background-color: #368BE6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.1s linear, background-color 0.2s ease-in-out; }
  .track-timeline-seeker {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; }
    .track-timeline-seeker:focus {
      outline: none; }

.track-title {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap; }

#page-bannersection {
  background-color: #646464;
  background-position: center center;
  background-size: cover; }
  #page-bannersection.hasBanner #page-header {
    height: 128px; }
  #page-bannersection.hasBanner #page-tabs {
    background-color: rgba(100, 100, 100, 0.7); }
  #page-bannersection.hasBanner #title {
    text-align: right;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.15); }
    #page-bannersection.hasBanner #title-text {
      line-height: 48px; }
  #page-bannersection.hasBanner #logo-offset {
    display: none; }

#page-header {
  background-color: transparent;
  position: relative;
  font-family: sans-serif; }
  #page-header #title {
    display: inline-block;
    padding: 8px;
    color: rgba(255, 255, 255, 0.9); }
    #page-header #title-text {
      line-height: 60px;
      vertical-align: middle;
      font-weight: bold;
      font-size: 105%;
      padding-left: 10px; }
  #page-header #logo {
    background-image: url("synthea_icon.png");
    background-position: 8px 8px;
    background-repeat: no-repeat;
    background-size: 48px; }
  #page-header #logo, #page-header #logo-offset {
    width: 64px; }

#page-tabs {
  color: #eee;
  border-bottom: solid 1px #ddd; }
  #page-tabs .page-tab {
    padding: 8px 16px;
    outline: none; }
    #page-tabs .page-tab:focus {
      background-color: #999; }
    #page-tabs .page-tab.current {
      background-color: #368BE6;
      color: #fff; }
    #page-tabs .page-tab:not(.current):hover {
      background-color: #999;
      cursor: pointer; }

#page-container {
  background-color: #eee;
  clear: both;
  padding-bottom: 15px; }
  #page-container-content {
    justify-content: center; }
  #page-container .column {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
    max-width: 300px;
    min-width: 200px;
    position: relative; }
    #page-container .column-header {
      background-color: #eee;
      position: relative;
      z-index: 2;
      display: inline-block;
      padding: 0 0.5em; }
    #page-container .column-container {
      margin: -12px 8px 1em 8px;
      padding: 16px 8px;
      border: solid 1px #ccc;
      border-radius: 8px; }

.cueButton.md-button {
  background-color: #fafafa;
  border: solid 1px #bbb;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-transform: none;
  width: 100%; }

.cueButton-badge {
  position: absolute;
  top: 4px;
  left: -4px;
  background-color: #6f8dae;
  border-radius: 8px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  height: 18px;
  width: 18px;
  transition-property: background-color, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  .cueButton-badge.channelState- {
    opacity: 0; }
  .cueButton-badge.channelState-PLAYING {
    background-color: #368BE6; }
  .cueButton-badge.channelState-STOPPING, .cueButton-badge.channelState-STOPPED {
    background-color: #999; }
  .cueButton-badge.channelState-QUEUING, .cueButton-badge.channelState-QUEUED {
    padding: 1px 0 0 2px; }
  .cueButton-badge .badge {
    position: absolute;
    visibility: hidden;
    top: -1px;
    left: 0; }
    .cueButton-badge .badge.badge-queue {
      top: 0;
      left: 1px; }
    .cueButton-badge .badge .syn-icon {
      fill: #fff; }
  .cueButton-badge.channelState-PAUSED .badge-pause,
  .cueButton-badge.channelState-PAUSING .badge-pause,
  .cueButton-badge.channelState-PLAYING .badge-play,
  .cueButton-badge.channelState-QUEUED .badge-queue,
  .cueButton-badge.channelState-QUEUING .badge-queue,
  .cueButton-badge.channelState-STOPPING .badge-stop,
  .cueButton-badge.channelState-STOPPED .badge-stop {
    visibility: visible; }

.cueButton-container {
  padding: 8px 0;
  position: relative; }

md-slider.track-timebar .md-track-fill, md-slider.track-timebar .md-thumb, md-slider.track-timebar .md-thumb-container, md-slider.track-timebar .md-focus-ring {
  transition-timing-function: linear;
  transition-duration: 0.01s; }

.blink, #currentTracks .track-container.STOPPING .track-buttons .track-button-stop, #currentTracks .track-container.PAUSING .track-button-pause, #currentTracks .track-container.PAUSED .track-button-pause, .cueButton-badge.channelState-PAUSING .badge-pause .syn-icon,
.cueButton-badge.channelState-STOPPING .badge-stop .syn-icon,
.cueButton-badge.channelState-QUEUING .badge-queue .syn-icon {
  animation: blink-animation 0.5s steps(8, start) infinite alternate; }

@keyframes blink-animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
