<div ng-init="seVm.activate()">

    <div>Edit a project</div>

    <div  layout="row" flex layout-wrap id="page-container-content">
        <div class="column md-card" flex
        md-padding="2"
        ng-repeat="section in seVm.project.sections | filter: {'page_id': seVm.currentPage.id} as currentSections">
            <div class="section-header" ng-bind="section.name"></div>
            <div class="section-container" layout="column">
                <div class="cueButton-container"
                flex="none" layout="row"
                ng-repeat="cue in seVm.project.cues | cuesInSection: section.id as currentCues">
                    <md-button class="cueButton"
                    aria-label="{{::cue.name}}"
                    ng-disabled="!cue.files.length"
                    ng-bind="::cue.name"
                    ng-click="seVm.selectCue(cue)">
                    </md-button>
                </div>
                <div class="cueButton-container" flex="none" layout="row">
                    <div ng-click="seVm.addCue(currentCues.length,section)">+ Add Cue</div>
                </div>
            </div>
        </div>
        <div class="section md-card" flex md-padding="2">
            <div ng-click="seVm.addColumn(currentSections.length)">+ Add Section</div>
        </div>
    </div>

    <button ng-click="seVm.copyMediaToProject()">Copy Media</button>

    <div ng-repeat="medium in seVm.media" ng-bind="medium"></div>

</div>