<div id="page-headergroup"
ng-style="{'background-image':sVm.project._bannerImage}"
ng-class="{'hasBanner': sVm.project._bannerImage}"
>


    <md-toolbar id="page-header-container" class="md-hue-2" layout="row"
    flex="none">
        <div flex="none" id="page-header-logo"></div>

        <div id="page-header" flex layout="column">
            <div class="page-title"
            ng-bind="sVm.project.name || 'Synthea'"></div>
            <div class="page-option-container">
                <span class="page-option"
                ng-click="sVm.project.config.isFadeIn = !sVm.project.config.isFadeIn">
                    Fade-In: {{sVm.project.config.isFadeIn ? 'On' : 'Off'}}
                </span>
            </div>
        </div>

        <!-- Balance the centering with the logo -->
        <div flex="none" id="logo-offset">
        </div>

    </md-toolbar>

    <div id="page-tabs" flex="none" layout="row">
        <span flex></span>
        <div flex="none" class="edit-pagetab">
            <md-icon ng-click="seVm.managePages($event)" style="padding: 4px;">
                <svg syn-icon="edit" size="20"></svg>
            </md-icon>
        </div>
        <div class="page-tab-container" flex="none"
        dnd-list="sVm.project.pages"
        dnd-allowed-types="['page']"
        dnd-horizontal-list="true"
        >
            <div class="page-tab"
            ng-repeat="page in sVm.project.pages | orderBy: 'display_order' "
            dnd-draggable="page"
            dnd-type="'page'"
            dnd-moved="sVm.project.pages.splice($index,1)"
            ng-bind="page.name"
            ng-click="sVm.selectPage(page)"
            ng-class="{'current': page == sVm.currentPage}"></div>
        </div>
        <span flex></span>
    </div>

</div>



<md-content flex layout="column" id="page-container">

<!--     <div layout="row">
        <span flex></span>
        <md-button class="md-accent"
        ng-click="seVm.manageSections(sVm.currentPage.id, $event)">
            <md-icon><svg syn-icon="settings"></svg></md-icon>
            Manage Sections
        </md-button>
    </div> -->

    <div  layout="row" flex layout-wrap id="page-container-content">

        <div class="section md-card" flex
        md-padding="2"
        ng-repeat="section in sVm.project.sections | filter: {'page_id': sVm.currentPage.id} :true | orderBy: '+display_order' as currentSections">
            <div class="section-header edit-sectionheader">
                <a class="edit-sectionheader-cta"
                ng-click="seVm.manageSections(sVm.currentPage.id, $event)">
                <svg  class="edit-sectionheader-icon"
                syn-icon="edit" size="20"></svg>
                <span ng-bind="section.name"></span>
                </a>
            </div>
            <div class="section-container"
            >
                <div layout="column" class="section-container-drop"
                dnd-list="section.cue_ids"
                dnd-allowed-types="['cue']"
                dnd-drop="seVm.insertCue(item)">
                    <div class="cueButton-container"
                    flex="none"
                    ng-repeat="cue in section.cue_ids | cuesFromIds: sVm.project.cues as currentCues track by $index"
                    syn-cue-id="{{cue.id}}"
                    >

                        <div class="cueButton"
                        dnd-draggable="cue.id"
                        dnd-type="'cue'"
                        dnd-moved="seVm.moveCue(cue.id, section, $index)"
                        dnd-effect-allowed="move"
                        aria-label="{{cue.name}}"
                        ng-bind="cue.name"
                        ng-click="seVm.editCue(cue,$event)">
                        </div>
                        <div class="cueButton-badge channelState-ERROR"
                        ng-if="!cue.sources.length"
                        md-whiteframe="1">
                            <div class="badge badge-error">
                                <svg syn-icon="error" size="22"></svg>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="cueButton-container"
                flex="none" layout="row">
                    <md-button class="md-accent editor-addbutton"
                    ng-click="seVm.addCue(currentCues.length,section,$event)">
                        + Add Cue
                    </md-button>
                </div>
            </div>
        </div>

        <div class="section-placeholder" ng-if="currentSections.length===0"
            layout="column" layout-fill>
            <span flex="2"></span>
            <div flex="none">
            Use the section manager to add sections <br/>
            sections and start building this page.
            </div>
            <span flex="3"></span>

            <div class="section-placeholder-pointer">
                <span class="section-placeholder-pointer-icon">
                    <svg syn-icon="subdirectory_arrow_right"></svg>
                </span>
                Click the gear to add/manage sections
            </div>
        </div>
    </div>

</md-content>

<md-toolbar id="edit-toolbar" layout="row"
class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row">

        <md-menu md-offset="0 48">
          <md-button aria-label="Open phone interactions menu" class="md-icon-button"
          ng-click="seVm.openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin><svg syn-icon="settings"></svg></md-icon>
            <md-tooltip md-direction="top" md-delay="200">
                Manage Project
            </md-tooltip>
          </md-button>
          <md-menu-content width="4" style="padding:0;">

            <md-menu-item>
              <md-button ng-click="seVm.saveProject($event)">
                <md-icon>
                    <svg syn-icon="system_update_alt"></svg>
                </md-icon>
                Save Project
              </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
              <md-button ng-click="seVm.managePages($event)">
                <md-icon >
                    <svg syn-icon="insert_drive_file"></svg>
                </md-icon>
                Manage Pages
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="seVm.manageSections(sVm.currentPage.id,$event)"
              class="edit-toolbar-menuitem"
              ng-class="{'highlight': currentSections.length===0}"
              >
                <md-icon><svg syn-icon="view_week"></svg></md-icon>
                Manage Sections
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button md-autofocus ng-click="seVm.manageMedia($event)">
                <md-icon md-menu-align-target>
                    <svg syn-icon="library_music"></svg></md-icon>
                Manage Media
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
        <md-button class="md-icon-button"
        ng-click="seVm.copyMediaToProject()"
        aria-label="Add Media">
            <md-icon>
                <svg syn-icon="library_add"></svg>
            </md-icon>
            <md-tooltip md-direction="top" md-delay="200">
                Add Media to Project
            </md-tooltip>
        </md-button>

        <span flex></span>
        <!-- <h2>Edit Project</h2> -->
        <!-- <span flex></span> -->
        <md-button ng-click="seVm.saveAndClose()">
            Save &amp; Close
        </md-button>
    </div>
</md-toolbar>