<!DOCTYPE html>
<html ng-app="SyntheaApp" >
<head>
	<title>Synthea</title>
	<meta charset="UTF-8">
	<base href="../" />
	<!-- <script src="./lib/angular-1.3.4/angular.min.js"></script> -->
	<!-- <script src="./synthea.js"></script> -->
	<script>
		window.angular = require('angular');
		require('angular-material');
		require('angular-route');
		require('angular-drag-and-drop-lists');
		const synthea = require('../scripts/SyntheaApp.js');
	</script>

	<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="assets/synthea.css">
	<link rel="stylesheet" href="assets/syn-editor.css">
	<link rel="stylesheet" href="assets/syn-tracks.css">
	<link rel="icon"
	      type="image/png"
	      href="assets/synthea_icon_cropped.png" />
	<link rel="icon" type="image/x-icon" href="assets/synthea_flat.ico" />
</head>
<body ng-controller="SyntheaController as sVm" class="nostealth" ng-cloak
>

	<div id="ng-view" layout="column" layout-fill ng-view></div>

	<div id="ng-loading" layout="column" layout-fill ng-if="!sVm.ready">
		<div id="ng-loading-text">
			<span ng-if="!sVm.ready">Loading Synthea...</span>
		</div>
	</div>

</body>
