<!DOCTYPE html>
<html ng-app="SyntheaLoaderApp">
<head>
    <base href="../">
    <title>Cloud Projects</title>
    <script>
        window.angular = require('angular');
        const angularMaterial = require('angular-material');
        // const howler = require('howler');
        const synthea = require('../scripts/SyntheaLoaderApp.js');
    </script>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="assets/synthea.css">
</head>
<body id="synLoader" class="modal-body"
ng-controller="SyntheaLoaderController as slVm">


    <div class="modal-content" layout="column" layout-fill>

        <div class="modal-title" flex="none">Synthea Cloud Projects</div>
        <div class="modal-desc" flex="none">
            These example projects are real-world uses of Synthea
            in live unscripted theater. All audio contents are property
            of their respective owners.
        </div>
        <div flex layout="row" layout-wrap>
            <div flex="50" ng-repeat="proj in slVm.projects | orderBy: 'name'">
                <md-button ng-click="slVm.loadProject(proj)"
                ng-bind="proj.name" aria-label="proj.name"></md-button>
            </div>
        </div>
        <span flex></span>
        <div class="modal-footer" layout="row" flex="none">
            <span flex></span>
            <md-button class="cancelbutton"
            ng-click="slVm.close()">Cancel</md-button>
        </div>
    </div>

</body>
</html>