
<div id="page-headergroup"
ng-style="{'background-image':sVm.project._bannerImage}"
ng-class="{'hasBanner': sVm.project._bannerImage}"
ng-include="'templates/partials/header-player.html'"
>

</div>



<md-content flex layout="column" id="page-container">

<div  layout="row" flex layout-wrap id="page-container-content">
    <div class="section md-card" flex
    md-padding="2"
    ng-repeat="section in sVm.project.sections | filter: {'page_id': sVm.currentPage.id} : true| orderBy: '+display_order'">
        <div class="section-header" ng-bind="section.name"></div>
        <div class="section-container" layout="column">
            <div class="cueButton-container"
            flex="none" layout="row"
            syn-cue-id="cue.id"
            ng-repeat="cue in ::section.cue_ids | cuesFromIds: sVm.project.cues track by cue.id"
            >
                <md-button class="cueButton"
                aria-label="{{::cue.name}}"
                ng-disabled="!cue.sources.length"
                ng-bind="::cue.name"
                ng-click="spVm.selectCue(cue,$event)"
                syn-right-click="spVm.contextCue(cue,$event)">
                </md-button>
                <div class="cueButton-badge channelState-{{cue._channel.state}}"
                md-whiteframe="1">
                    <div class="badge badge-stop">
                        <svg syn-icon="stop" size="16"></svg>
                    </div>
                    <div class="badge badge-play">
                        <svg syn-icon="play" size="16"></svg>
                    </div>
                    <div class="badge badge-pause">
                        <svg syn-icon="pause" size="16"></svg>
                    </div>
                    <div class="badge badge-queue">
                        <svg syn-icon="playlist_play" size="16"></svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</md-content>

<div id="queuedTracks">
    <div class="track-container-title" ng-if="queuedTracks.length">Queued</div>
    <div class="track-container-player queue"
        ng-repeat="channel in spVm.mixer.channels | filter:{'is_queued': true} as queuedTracks"
        ng-style="{'z-index':$index}">
        <syn-channel-player channel="channel" queue="butts"></syn-channel-player>
    </div>
</div>

<div id="currentTracks">
    <div class="track-container-title" ng-if="currentTracks.length">Now Playing</div>
    <div class="track-container-player"
        ng-repeat="channel in spVm.mixer.channels | filter: {'is_current':true} as currentTracks">
        <syn-channel-player channel="channel"
            ng-style="{'z-index':$index}"></syn-channel-player>
    </div>
</div>
