@import '../assets/syn-common.scss';

$docs-accent: rgb(255,64,129);

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding:0;
}

footer {
    color: #999;
    font-size: 12px;
    line-height: 14px;
    padding: 16px 8px;
    text-align: right;

    opacity: 1;
    // Match the ng-view for page transitions
    transition: opacity 0.25s ease-in-out;

    .license-link {
        color: #999;
        &:hover { color: $docs-accent; }
    }
}

a {
    color: $docs-accent;
    cursor: pointer;

    &:hover {
        color: darken($docs-accent, 20%);
    }

    &:visited {
        color: desaturate($docs-accent, 20%);
    }
}

p {
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

instr {
    font-family: monospace;
    font-weight: 800;
    font-size: 110%;
}

.internal-link {
    color: $docs-accent;
    cursor: pointer;
}

.intro {
    background-image: url('images/background.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 100%;

    text-align: center;

    &-download {
        &-sub {
            font-size: 11px;
        }
    }

    &-header {
        padding: 64px 32px 128px 32px;

        &-blurb {
            color: #222;
            margin: 32px auto;
            max-width: 480px;
            text-align: justify;
        }

        &-subtitle {
            font-size: 24px;
            margin-top: 64px;
        }

        &-title {
            font-size: 64px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.main-content {
    padding: 24px;
    margin: 0;
    max-width: 800px;
    width: 100%;

    transition: opacity 0.25s ease-in-out;
    opacity: 1;

    &.ng-enter {
        display: flex !important;
        opacity:0;
        position:absolute;

        &-active {
            opacity: 0;
            // hide the footer too!
            & + footer {
                opacity:0;
            }
        }

    }

    &.ng-leave {
        display: flex !important;
        opacity: 1;

        &-active {
            opacity: 0;
        }
    }
}

// Highlighting
$list: home playing editing media cues help;
@each $page in $list {
   .navlink-container.page-#{$page} #navlink-#{$page} {
      background-color: rgba(255,255,255,0.2);
    }
}


.editcue-subgroup-table {
    border-collapse: collapse;
    font-size: 14px;
    margin-top: 8px;
    width: 100%;

    td { padding: 4px;}

    th:not(:first-child), td:not(:first-child) {
        padding-left: 2em;
    }
    td:last-child {
        font-style: italic;
        color: #555;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}

.sidenav.md-synthea-theme {
    background-color: rgb(66,66,66);
    color: #eee;

    .nav-button {
        border-radius:0;
        border-top: solid 1px rgba(224,224,224,0.2);
        color: rgb(224,224,224);
        display: block;
        margin:0;
        padding: 4px 16px;
        text-align: left;

        &-sub {
            border-top: none;
            padding-left: 40px;
            text-transform: none;
        }
    }

    .nav-header {
        background: -webkit-linear-gradient(top, rgb(33,33,33) 0%, rgb(66,66,66) 100%)
    }

    .nav-content {
        background-color: transparent;
    }

    .sidenav-logo {
        background-image: url('images/logo.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80%;
        width: 100%;
        padding-top: 90%;

    }
}

.section {
    margin-bottom: 24px;
}

.section-header {
    font-size: 24px;
    font-weight: 500;
}

.section-body {
    margin-top: -8px;
    text-align: justify;
}

.section-screenshot {
    text-align: center;
    &-image {
        margin: 0 auto 16px auto;
        max-width: 100%;
    }
}

.section-title {
    border-bottom: solid 1px rgba(100,100,100,0.2);
    font-size: 40px;
    font-weight: 700;
    margin: 8px 0 16px 0;
    padding-bottom: 8px;
}

.section-toc {
    border-bottom: solid 1px rgba(100,100,100,0.2);
    padding-bottom: 24px;
    margin-bottom: 16px;
}