.blink {
  animation: blink-animation 0.5s steps(8, start) infinite alternate; }

@keyframes blink-animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.flashlight {
  animation: flashlight-animation 0.5s ease-in-out 5 alternate; }

@keyframes flashlight-animation {
  from {
    background-color: rgba(255, 192, 203, 0.8); }
  to {
    background-color: transparent; } }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

footer {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  padding: 16px 8px;
  text-align: right;
  opacity: 1;
  transition: opacity 0.25s ease-in-out; }
  footer .license-link {
    color: #999; }
    footer .license-link:hover {
      color: #ff4081; }

a {
  color: #ff4081;
  cursor: pointer; }
  a:hover {
    color: #d9004a; }
  a:visited {
    color: #ec5387; }

p {
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em; }

instr {
  font-family: monospace;
  font-weight: 800;
  font-size: 115%;
  vertical-align: text-bottom; }

.internal-link {
  color: #ff4081;
  cursor: pointer; }

.intro {
  background-image: url("images/background.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  text-align: center; }
  .intro-download-sub {
    font-size: 11px; }
  .intro-header {
    padding: 64px 32px 128px 32px; }
    .intro-header-blurb {
      color: #222;
      margin: 32px auto;
      max-width: 480px;
      text-align: justify; }
    .intro-header-subtitle {
      font-size: 24px;
      margin-top: 64px; }
    .intro-header-title {
      font-size: 64px;
      font-weight: 500;
      text-transform: uppercase; }

.main-content {
  padding: 24px;
  margin: 0;
  max-width: 800px;
  width: 100%;
  transition: opacity 0.25s ease-in-out;
  opacity: 1; }
  .main-content.ng-enter {
    display: flex !important;
    opacity: 0;
    position: absolute; }
    .main-content.ng-enter-active {
      opacity: 0; }
      .main-content.ng-enter-active + footer {
        opacity: 0; }
  .main-content.ng-leave {
    display: flex !important;
    opacity: 1; }
    .main-content.ng-leave-active {
      opacity: 0; }

.navlink-container.page-home #navlink-home {
  background-color: rgba(255, 255, 255, 0.2); }

.navlink-container.page-playing #navlink-playing {
  background-color: rgba(255, 255, 255, 0.2); }

.navlink-container.page-editing #navlink-editing {
  background-color: rgba(255, 255, 255, 0.2); }

.navlink-container.page-media #navlink-media {
  background-color: rgba(255, 255, 255, 0.2); }

.navlink-container.page-cues #navlink-cues {
  background-color: rgba(255, 255, 255, 0.2); }

.navlink-container.page-help #navlink-help {
  background-color: rgba(255, 255, 255, 0.2); }

.editcue-subgroup-table {
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 8px;
  width: 100%; }
  .editcue-subgroup-table td {
    padding: 4px; }
  .editcue-subgroup-table th:not(:first-child), .editcue-subgroup-table td:not(:first-child) {
    padding-left: 2em; }
  .editcue-subgroup-table td:last-child {
    font-style: italic;
    color: #555; }
  .editcue-subgroup-table tr:nth-child(even) {
    background-color: #f2f2f2; }

.sidenav.md-synthea-theme {
  background-color: #424242;
  color: #eee; }
  .sidenav.md-synthea-theme .nav-button {
    border-radius: 0;
    border-top: solid 1px rgba(224, 224, 224, 0.2);
    color: #e0e0e0;
    display: block;
    margin: 0;
    padding: 4px 16px;
    text-align: left; }
    .sidenav.md-synthea-theme .nav-button-sub {
      border-top: none;
      padding-left: 40px;
      text-transform: none; }
  .sidenav.md-synthea-theme .nav-header {
    background: -webkit-linear-gradient(top, #212121 0%, #424242 100%); }
  .sidenav.md-synthea-theme .nav-content {
    background-color: transparent; }
  .sidenav.md-synthea-theme .sidenav-logo {
    background-image: url("images/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    width: 100%;
    padding-top: 90%; }

.section {
  margin-bottom: 24px; }

.section-header {
  font-size: 24px;
  font-weight: 500; }

.section-body {
  margin-top: -8px;
  text-align: justify; }

.section-screenshot {
  text-align: center; }
  .section-screenshot-image {
    margin: 0 auto 16px auto;
    width: 100%; }

.section-title {
  border-bottom: solid 1px rgba(100, 100, 100, 0.2);
  font-size: 40px;
  font-weight: 700;
  margin: 8px 0 16px 0;
  padding-bottom: 8px; }

.section-toc {
  border-bottom: solid 1px rgba(100, 100, 100, 0.2);
  padding-bottom: 24px;
  margin-bottom: 16px; }
